__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.git/
.gitignore
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
*.log
build/
dist/
Ominous/build/
Ominous/dist/
Ominous/obscuro_ominous.egg-info/
Ominous/__pycache__/
Ominous/.python_path
